<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>

	            <div  id="listData" class="reservation">
	                <div class="row">
	                    <div class="col-lg-12 main-content">
	                        <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
	                            <div class="toolbox-left">
	                                <div class="toolbox-item toolbox-sort">
	                                    <label>낚시 종류 선택:</label>
	                                    <div class="select-custom">
	                                        <select id="shTypeCd" name="shTypeCd" class="form-control" th:onchange="fnGoList('1')">
	                                            <option value="2" th:selected="${vo.shTypeCd == '2'}">좌대낚시</option>
	                                            <option value="1" th:selected="${vo.shTypeCd == '1'}">배낚시</option>
	                                        </select>
	                                    </div>
	                                </div><!-- End .toolbox-item -->
	                            </div><!-- End .toolbox-left -->
	                        </nav>
	                        
	                        <!--전체건수, 표시라인수-->
	                        <div class="row pb-4">
								<div th:replace="~{infra/include/body :: bodyPaging}"></div>
	                        </div>
	                        										
	                        <div class="row pb-4">
	                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2" th:each= "list : ${list}">
	                                <!-- 메인 이미지 -->
	                                <figure>
	                                    <a>
	                                        <img src="" width="250" height="250" alt="product" />
	                                    </a>
	                                </figure>
	                                <div class="product-details" >
	                                    <!-- 예약카테고리표기(좌대낚시, 배낚시) -->
	                                    <div class="category-list">
	                                        <a class="product-category" th:text="${@codeService.selectOneCachedCode(list.plcTypeCd)}+'낚시'"></a>
	                                    </div>
	                                    <!-- 제품명 -->
	                                    <h3 class="product-title" th:text="${list.plcName}"> <a href="product.html"></a> </h3>
	                                    <!-- 별점 수정 및 삭제예정 -->
	                                    <!-- <div class="ratings-container">
	                                        <div class="product-ratings">
	                                            <span class="ratings" style="width:100%"></span>
	                                            End .ratings
	                                            <span class="tooltiptext tooltip-top"></span>
	                                        </div>
	                                        End .product-ratings
	                                    </div> -->
	                                    <!-- End .product-container -->
	                                    <!-- 예약 설명 -->
	                                    <p th:text="'운영시간 : '+ ${list.plcOperatingFrom} + '시' + ' ~ ' + ${list.plcOperatingTo} + '시'"></p>
	                                    <p th:text="'제공시설 및 물품 : ' + ${list.plcNote}"></p>
	                                    <!-- 금액 -->
	                                    <div class="price-box">
	                                        <span class="product-price" th:text="${#numbers.formatInteger(list.plcAmount,1,'COMMA')} + '원'"></span>
	                                    </div>
	                                    <!-- End .price-box -->
	                                </div>
									<button type="button" id="Checkoutbtn" name="Checkoutbtn" class="btn btn-dark" th:onclick="javascript:fnGoDetail([[${list.plcSeq}]]);">예약하기</button>
	                                <!-- End .product-details -->
	                            </div>
	                        </div>
	                        
	                        <nav class="toolbox toolbox-pagination">
	                            <div class="toolbox-item toolbox-show"><!-- 공백 --></div>
	                            <!-- 페이징 -->
					  			<div th:replace="~{infra/include/body :: bodyPagingBtn}"></div>
	                        </nav>
	                    </div>
	                </div>
	            </div>
    
</body>

</html>