<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="~{infra/include/head :: head}"></div>

</head>

<body>
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" id="plcTypeCd" name="plcTypeCd" th:value="${item.plcTypeCd}">
		<input type="hidden" id="plcName" name="plcName" th:value="${item.plcName}">
		<input type="hidden" id="plcAmount" name="plcAmount" th:value="${item.plcAmount}">
		<input type="hidden" id="plcSeq" name="plcSeq" th:value="${item.plcSeq}">
		<input type="hidden" id="revSeatInput" name="revSeat">
		
		<input type="hidden" id="reservDD" name="reservDD" th:value="${reservDD}">
		<input type="hidden" id="reservMM" name="reservMM" th:value="${reservMM}">
		<input type="hidden" id="reservYY" name="reservYY" th:value="${reservYY}">
		
	    <div class="page-wrapper">
	        <header class="header">
	            <div class="header-middle sticky-header font2">
	                <div class="container-fluid">
	                    <div class="header-left">
	                        <button class="mobile-menu-toggler pl-0" type="button">
	                            <i class="fas fa-bars"></i>
	                        </button>
	                        <a href="/index" class="logo mr-5">
	                            <img src="img/logo.png" alt="Logo" width="111" height="44">
	                        </a>
	                        <!--메인메뉴-->
	                        <div th:replace="~{infra/include/body :: menu(0)}"></div>
	                        
							<div class="align-items-center ml-5">
								<nav aria-label="breadcrumb" class="breadcrumb-nav">
									<div class="container">
										<ol class="breadcrumb">
											<li class="breadcrumb-item" style="color: blue;">
												<a href="/index"><i class="fas fa-fish">&nbsp;</i><b>Home</b></a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">Reservation</li>
										</ol>
									</div>
								</nav>
							</div>
	                    </div>
						<!--우측메뉴-->
	                    <div th:replace="~{infra/include/body :: menuRight}"></div>
	                </div>
	            </div>
	        </header>
	        <main class="main">
	            <div class="container">
	                <div class="product-single-container product-single-default">
	                    <div class="row">
	                        <div class="col-lg-4 col-md-6 product-single-gallery">
	                            <!-- 예약장소명 -->
	                        <div>
	                            <h2 class="product-title" th:text="${item.plcName}"></h2>
	                        </div>
	                            <div class="product-slider-container">
	                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
	                                    <div class="product-item">
	                                        <img class="product-single-image" src="assets/images/demoes/demo34/products/zoom/product-1.jpg" data-zoom-image="assets/images/demoes/demo34/products/zoom/product-1-big.jpg"width="468" height="468" alt="product" />
	                                    </div>
	                                </div>
	                                <!-- End .product-single-carousel -->
	                                <span class="prod-full-screen">
	                                    <i class="icon-plus"></i>
	                                </span>
	                            </div>
	                            <div class="product-desc">
									<p th:text="'운영시간 : '+ ${item.plcOperatingFrom} + '시' + ' ~ ' + ${item.plcOperatingTo} + '시'"></p>
	                                <p th:text="'제공시설 및 물품 : ' + ${item.plcNote}"></p>
	                            </div>
	                        </div><!-- End .product-single-gallery -->
	                        <div class="col-lg-8 col-md-6 product-single-details">
	                            <div  class="my-3 d-flex justify-content-between align-items-center">
	                                <h4 class="custom-box2" id="" name="" th:text="${reservYY} + '년' + ${reservMM} + '월' + ${reservDD} + '일'"></h4>
	                                <h4 class="custom-box" id="revSeat" name="revSeat"></h4>
	                            </div>
	                                <div th:if="${item.plcTypeCd} == 1" class="seat-map" id="seatMap"></div>
    								<div th:if="${item.plcTypeCd} == 2" class="fishing-map" id="fishingMap"></div>
	                                <div class="my-lg-5 d-flex justify-content-between align-items-center">
	                                    <span class="product-price" th:text="${#numbers.formatInteger(item.plcAmount,1,'COMMA')} + '원'" ></span>
	                                    <a id="Checkoutbtn" class="btn btn-dark">예약하기</a>
	                                </div>
	                        </div><!-- End .product-single-details -->
	                    </div><!-- End .row -->
	                </div><!-- End .product-single-container -->
	
                <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab"
                                href="#product-desc-content" role="tab" aria-controls="product-desc-content"
                                aria-selected="true">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content font2">
                        <div class="tab-pane fade show active" id="product-desc-content"
                           >
                            <table class="table" >
                                <tbody>
                                    <tr>
                                        <th>어종</th>
                                        <td th:each= "fisList : ${fisList}">
                                        	<a th:text="${@codeService.selectOneCachedCode(fisList.fisFishCd)}"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>낚시대</th>
                                        <td th:each= "prpList : ${prpList}" th:text="${@codeService.selectOneCachedCode(prpList.prpFishingRod)}">
                                        </td>
                                    </tr>
                                </tbody>
               				</table>
                        </div><!-- End .tab-pane -->
	                </div><!-- End .product-reviews-content -->
	            </div><!-- End .tab-pane -->
	        </div>
	    </div>
	</form>
    <footer th:replace="~{infra/include/body :: footer}"></footer>
    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
    <!-- 배 예약 -->
     <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
    <!-- 배 예약 -->
    <script src="assets/js/ship.js"></script>
    <script src="assets/js/table.js"></script>
</body>

</html>