<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="~{infra/include/head :: head}"></div>

    <style>

        .seat-map {
            width: 800px; /* 맵의 너비 */
            height: 410px; /* 맵의 높이 */
            position: relative;
        }

        .seat {
            position: absolute;
            width: 40px; /* 좌석의 너비 */
            height: 40px; /* 좌석의 높이 */
            background-color: #fff; /* 좌석의 기본 배경색 */
            border: 1px solid #000; /* 좌석의 테두리 색상 */
            border-radius: 20px; /* 타원형 모양 */
            text-align: center;
            line-height: 40px;
            cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것을 나타냄 */
        }

        .seat.selected {
            background-color: blue; /* 선택된 좌석의 배경색 */
            color: #ffffff; /* 선택된 좌석의 텍스트 색상 */
        }

        .seat-map {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 780px;
            border-radius: 10px;
            background-color: #f4f4f4;
        }
        .seat {
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 50%;
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .seat.selected {
            background-color: #3b58ff;
            color: white;
        }
        .product-action {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" id="plcTypeCd" name="plcTypeCd" th:value="${item.plcTypeCd}">
		<input type="hidden" id="plcName" name="plcName" th:value="${item.plcName}">
		<input type="hidden" id="plcAmount" name="plcAmount" th:value="${item.plcAmount}">
		<input type="hidden" id="plcSeq" name="plcSeq" th:value="${item.plcSeq}">
		<input type="hidden" id="revSeatInput" name="revSeat">
	    <div class="page-wrapper">
	        <header class="header">
	            <div class="header-middle sticky-header font2">
	                <div class="container-fluid">
	                    <div class="header-left">
	                        <button class="mobile-menu-toggler pl-0" type="button">
	                            <i class="fas fa-bars"></i>
	                        </button>
	                        <a href="/index" class="logo mr-5">
	                            <img src="img/logo.png" alt="Logo" width="111" height="44">
	                        </a>
	                        <!--메인메뉴-->
	                        <div th:replace="~{infra/include/body :: menu(0)}"></div>
	                        
							<div class="align-items-center ml-5">
								<nav aria-label="breadcrumb" class="breadcrumb-nav">
									<div class="container">
										<ol class="breadcrumb">
											<li class="breadcrumb-item" style="color: blue;">
												<a href="/index"><i class="fas fa-fish">&nbsp;</i><b>Home</b></a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">Reservation</li>
										</ol>
									</div>
								</nav>
							</div>
	                    </div>
						<!--우측메뉴-->
	                    <div th:replace="~{infra/include/body :: menuRight}"></div>
	                </div>
	            </div>
	        </header>
	        <main class="main">
	            <div class="container">
	                <div class="product-single-container product-single-default">
	                    <div class="row">
	                        <div class="col-lg-4 col-md-6 product-single-gallery">
	                            <!-- 예약장소명 -->
	                        <div>
	                            <h2 class="product-title" th:text="${item.plcName}"></h2>
	                        </div>
	                            <div class="product-slider-container">
	                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
	                                    <div class="product-item">
	                                        <img class="product-single-image" src="assets/images/demoes/demo34/products/zoom/product-1.jpg" data-zoom-image="assets/images/demoes/demo34/products/zoom/product-1-big.jpg"width="468" height="468" alt="product" />
	                                    </div>
	                                </div>
	                                <!-- End .product-single-carousel -->
	                                <span class="prod-full-screen">
	                                    <i class="icon-plus"></i>
	                                </span>
	                            </div>
	                            <div class="product-desc">
									<p th:text="'운영시간 : '+ ${item.plcOperatingFrom} + '시' + ' ~ ' + ${item.plcOperatingTo} + '시'"></p>
	                                <p th:text="'제공시설 및 물품 : ' + ${item.plcNote}"></p>
	                            </div>
	                        </div><!-- End .product-single-gallery -->
	                        <div class="col-lg-8 col-md-6 product-single-details">
	                            <div  class="my-3 d-flex justify-content-between align-items-center">
	                                <h4 class="custom-box2" id="" name="">예약 날짜 : 2024년 6월 10일</h4>
	                                <h4 class="custom-box" id="revSeat" name="revSeat"></h4>
	                            </div>
	                                <div class="seat-map" id="seatMap"></div>
	                                <div class="my-lg-5 d-flex justify-content-between align-items-center">
	                                    <span class="product-price" th:text="${#numbers.formatInteger(item.plcAmount,1,'COMMA')} + '원'" ></span>
	                                    <a id="Checkoutbtn" class="btn btn-dark">예약하기</a>
	                                </div>
	                        </div><!-- End .product-single-details -->
	                    </div><!-- End .row -->
	                </div><!-- End .product-single-container -->
	
                <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab"
                                href="#product-desc-content" role="tab" aria-controls="product-desc-content"
                                aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content"
                                role="tab" aria-controls="product-tags-content" aria-selected="false">Additional
                                Information</a>
                        </li>
                    </ul>
                    <div class="tab-content font2">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                            aria-labelledby="product-tab-desc">
                            <div class="product-desc-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud ipsum
                                    consectetur sed do, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                                <ul>
                                    <li>Any Product types that You want - Simple,
                                        Configurable</li>
                                    <li>Downloadable/Digital Products, Virtual
                                        Products</li>
                                    <li>Inventory Management with Backordered items
                                    </li>
                                </ul>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- End .tab-pane -->
                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel"
                            aria-labelledby="product-tab-tags">
                            <table class="table table-striped mt-2">
                                <tbody>
                                    <tr>
                                        <th>Weight</th>
                                        <td>23 kg</td>
                                    </tr>

                                    <tr>
                                        <th>Dimensions</th>
                                        <td>12 × 24 × 35 cm</td>
                                    </tr>

                                    <tr>
                                        <th>Color</th>
                                        <td>Black, Green, Indigo</td>
                                    </tr>

                                    <tr>
                                        <th>Size</th>
                                        <td>Large, Medium, Small</td>
                                    </tr>
                                </tbody>
               				</table>
	            		</div><!-- End .tab-pane -->
	                </div><!-- End .product-reviews-content -->
	            </div><!-- End .tab-pane -->
	        </div>
	    </div>
	</form>
    <footer th:replace="~{infra/include/body :: footer}"></footer>
    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
    <!-- 배 예약 -->
     <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
    <!-- 배 예약 -->
    <script>
        const seatMapElement = document.getElementById('seatMap');
        const numberOfSeats = 16;
        const centerX = seatMapElement.offsetWidth / 2;
        const centerY = seatMapElement.offsetHeight / 2;
        const semiMajorAxis = 350; // 타원의 장축 반지름 (가로)
        const semiMinorAxis = 100; // 타원의 단축 반지름 (세로)
        const angleIncrement = (Math.PI * 2) / numberOfSeats; // 좌석 간의 각도 간격

        let selectedSeat = null; // 현재 선택된 좌석
        let selectedSeatNumber = null; // 선택된 좌석 번호
        let revSeat = null; // revSeat 변수 추가

        for (let i = 0; i < numberOfSeats; i++) {
            const angle = i * angleIncrement; // 현재 좌석의 각도 계산
            const x = centerX + Math.cos(angle) * semiMajorAxis; // x 좌표 계산
            const y = centerY + Math.sin(angle) * semiMinorAxis; // y 좌표 계산

            const seatElement = document.createElement('div');
            seatElement.classList.add('seat');
            seatElement.textContent = i + 1;
            seatElement.style.left = (x - 20) + 'px'; // 좌석의 너비 절반을 뺌
            seatElement.style.top = (y - 20) + 'px'; // 좌석의 높이 절반을 뺌

            seatElement.addEventListener('click', function() {
                if (selectedSeat) {
                    selectedSeat.classList.remove('selected'); // 기존 선택된 좌석 해제
                }
                seatElement.classList.add('selected'); // 새로운 좌석 선택
                selectedSeat = seatElement; // 선택된 좌석 갱신

                // 선택된 좌석 번호 업데이트
                selectedSeatNumber = parseInt(seatElement.textContent); // 좌석 번호를 int로 변환
                const revSeatElement = document.getElementById('revSeat');
                revSeatElement.textContent = '좌석번호 : '+  selectedSeatNumber;

                // 숨겨진 입력 필드 업데이트
                const revSeatInputElement = document.getElementById('revSeatInput');
                revSeatInputElement.value = selectedSeatNumber;
            });
            seatMapElement.appendChild(seatElement);
        }
        
        let goUrlCheckout = "/checkout";
        
        let form = document.querySelector("form[name=formList]");
        document.getElementById("Checkoutbtn").onclick = function(){
            form.action = goUrlCheckout;
            form.submit();
        }
    </script>
</body>

</html>