<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <head>
	<div th:replace="~{infra/include/head :: head}"></div>
</head> -->
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>유체이탈(자유를 찾아서)</title>

    <meta name="keywords" content="TEAM PROJECT ONE-Q" />
    <meta name="description" content="TEAM PROJECT ONE-Q">
    <meta name="author" content="ONE-Q TEAM">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/logo.png">

    <script>
        WebFontConfig = {
            google: { families: ['Playfair+Display:200,300,400,400italic,500,600,700,700italic,800,900italic', 'Poppins:200,300,400,500,600,700,800', 'Oswald:300,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    
	<!-- Main CSS File -->
	<!--<link rel="stylesheet" href="assets/css/demo34.min.css">-->
	<link rel="stylesheet" href="assets/css/demo4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    	
	<!-- Plugins CSS File -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.min.css">
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	
	<!-- 달력 CSS File -->
    <link rel="stylesheet" type="text/css" href="css/date.css">
    <!-- 좌석 CSS File -->
    <link rel="stylesheet" type="text/css" href="css/ship.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    
    <!-- 사용자 스크립트 -->
    <script src="js/validation.js"></script>
    <script src="js/search.js"></script>   
</head> 

<body>
	<div class="page-wrapper">

		<header class="header">
			<div class="header-middle sticky-header font2">
			    <div class="container-fluid">
			        <div class="header-left">
			            <button class="mobile-menu-toggler pl-0" type="button">
			                <i class="fas fa-bars"></i>
			            </button>
			            <a href="/index" class="logo mr-5">
			                <img src="img/logo.png" alt="Logo" width="111" height="44">
			            </a>
			            <!--메인메뉴-->
			            <div th:replace="~{infra/include/body :: menu(3)}"></div>
                        
						<div class="align-items-center ml-5">
							<nav aria-label="breadcrumb" class="breadcrumb-nav">
								<div class="container">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" style="color: blue;">
											<a href="/index"><i class="fas fa-fish">&nbsp;</i><b>Home</b></a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">chat room</li>
									</ol>
								</div>
							</nav>
						</div>
			        </div>
					<!--우측메뉴-->
			        <div th:replace="~{infra/include/body :: menuRight}"></div>
			    </div>
			</div>
			
			<!--예약일자-->
			<div th:replace="~{infra/include/head :: date}"></div>	
        </header><!-- End .header -->


		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><i class="icon-home"></i></li>
					</ol>
				</div><!-- End .container -->
			</nav>
			<form id="form" name="form" method="post">
			<input type="hidden" id="pgPage" name="pgPage" th:value="${vo.pgPage}" default="1">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="row" style="padding: 20px;" id="listData">
							<div class="col-md-6 col-lg-4" th:if="${!#lists.isEmpty(list)}"
								th:each="list : ${list}">
								<div onclick="chekRoom(this)" th:data-value="${list.romSeq}">
									<article class="post" >
										<div class="post-media">
											<!-- <a th:href="@{/chatting(romSeq=${list.romSeq})}" target="_blank">
												<img th:href src="assets/images/blog/home/post-1.jpg" alt="Post" width="225"
													height="280">
											</a> -->
											<div>
												<img th:href src="assets/images/blog/home/post-1.jpg" alt="Post" width="225"
													height="280">
											</div>
										</div><!-- End .post-media -->
	
										<div class="post-body">
											<h2 class="post-title">
												<a th:text="${list.romTitle}"></a>
											</h2>
											<div class="post-content">
												<p th:text="${list.romNote}"></p>
											</div><!-- End .post-content -->
											<a  class="post-comment">참여인원 : </a>
											<a  class="post-comment" th:text="${list.romPersonnel} +'/'+ ${list.currentStaff}"></a>
										</div><!-- End .post-body -->
									</article><!-- End .post -->
								</div>
							</div>
						</div>
						<div th:replace="~{infra/include/body :: bodyPagingBtn}"></div>
					</div><!-- End .col-lg-9 -->

					<div class="sidebar-toggle custom-sidebar-toggle">
						<i class="fas fa-sliders-h"></i>
					</div>
					<div class="sidebar-overlay"></div>
					<aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
						<!-- <div class="sidebar-wrapper">
	                            <div class="widget">
	                            <div class="widget widget-color">
	                                <h3 class="widget-title">
	                                    <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">방만들기</a>
	                                </h3>
	
	                                <a th:href="@{/chatcreate}">
	                                    <div class="info-box-content">
	                                        <br><i class="fas fa-plus-circle"></i>
	                                    </div>
	                                </a>
	                            </div>
	
	
	                            <div class="widget widget-featured">
	                                <h3 class="widget-title">내 채팅방</h3>
	
	                                <div class="widget-body">
	                                    <div class="owl-carousel widget-featured-products">
	                                        <div class="featured-col">
	                                            <div class="product-default left-details product-widget">
	                                                <figure>
	                                                    <a href="product.html">
	                                                        <img src="assets/images/products/small/product-4.jpg" width="75" height="75" alt="product" />
	                                                        <img src="assets/images/products/small/product-4-2.jpg" width="75" height="75" alt="product" />
	                                                    </a>
	                                                </figure>
	                                                <div class="product-details">
	                                                    <h3 class="product-title"> <a>낚시모임</a> </h3>
	                                                </div>
	
	                                            </div>
	                                        </div>
	
	                                    </div>
	
	                                </div>
	
	                            </div>
	                        </div>
	                    </div> -->
						<div class="sidebar-wrapper" data-sticky-sidebar-options='{"offsetTop": 72}'>
							<div class="widget widget-categories">
								<br><br><br>
                                <div class="info-box info-box-icon-top">
                                    <a th:href="@{/chatcreate}">
                                    <div class="info-box-content">
                                        <h4>방만들기</h4>
                                        <br><i class="fas fa-plus-circle"></i>
                                    </div>
                                    </a>
                                    
                                </div>
							</div>

							<div class="widget widget-post">
								<h4 class="widget-title">내 채팅방</h4>

								<ul class="simple-post-list">
									<li th:if="${!#lists.isEmpty(mylist)}"
										th:each="mylist : ${mylist}">
										<div class="post-media">
											<a href="single.html">
												<img src="assets/images/blog/widget/post-1.jpg" alt="Post">
											</a>
										</div>
										<div class="post-info">
											<a th:href="@{/chatting(romSeq=${mylist.romSeq})}" target="_blank" th:text ="${mylist.romTitle}">낚시 모임</a>
											
										</div>
									</li>
								</ul>
							</div>
						</div>
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
			</form>
		</main><!-- End .main -->

		<footer th:replace="~{infra/include/body :: footer}"></footer>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.min.js"></script>
	<script>
	
	function chekRoom(element){
		 let romSeq = $(element).data("value");
		 let gochatting = "/chatting";
		 let gochattinginst = "/roomcheckinst";
		//alert(romSeq)
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/checkroom"
			,data : { "romSeq" : romSeq}
			,success: function(response) {
				if(response.rt == "success") {
					alert("가입된 채팅방");
					window.open(gochatting +"?romSeq=" + romSeq); 	
				} 
				else if(response.rt == "false")
				{
					alert("로그인을 하세요")	
					window.location.href = "/login"
				}
				else if(response.rt == "full")
				{
					alert("인원이 꽉차 참여가 불가능 합니다.")
				}
				else
				{
					alert("채팅방에 참여 하겠습니까?")
					window.open(gochattinginst +"?romSeq=" + romSeq);
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	fnGoList = function(pgPage) {
	    document.querySelector("input[name=pgPage]").value = pgPage;
	        
	    let queryString = $("#form").serialize();
	    
	    $.ajax({
			async: true
			, cache: false
			, type: "post"
			, url: "/roomListPaging?"+queryString
			, success: function(fragment) {
				$("#listData").replaceWith(fragment);
			}
			, error: function(jqXHR, textStatus, errorThrown) {
				//fnModalCaptionChange(0,"오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
    </script>
  </div>
</body>

</html>