<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Porto - Bootstrap eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.png">


	<script>
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
		};
		( function ( d ) {
			var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore( wf, s );
		} )( document );
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="css/date.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="assets/css/demo34.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</head>

<body>
	<div class="page-wrapper">

		<header class="header">
			<div class="header-middle sticky-header font2">
			    <div class="container-fluid">
			        <div class="header-left">
			            <button class="mobile-menu-toggler pl-0" type="button">
			                <i class="fas fa-bars"></i>
			            </button>
			            <a href="/index" class="logo mr-5">
			                <img src="img/logo.png" alt="Logo" width="111" height="44">
			            </a>
			            <!--메인메뉴-->
			            <div th:replace="~{infra/include/body :: menu(0)}"></div>
			        </div>
					<!--우측메뉴-->
			        <div th:replace="~{infra/include/body :: menuRight}"></div>
			        <br>
			    </div>
			</div>
			
			<!--예약일자-->
			<div th:replace="~{infra/include/head :: date}"></div>		
        </header><!-- End .header -->

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><i class="icon-home"></i></li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="row" style="padding: 20px;">
							<div class="col-md-6 col-lg-4" th:if="${!#lists.isEmpty(list)}"
								th:each="list : ${list}">
								<div onclick="chekRoom(this)" th:data-value="${list.romSeq}">
									<article class="post" >
										<div class="post-media">
											<!-- <a th:href="@{/chatting(romSeq=${list.romSeq})}" target="_blank">
												<img th:href src="assets/images/blog/home/post-1.jpg" alt="Post" width="225"
													height="280">
											</a> -->
											<div>
												<img th:href src="assets/images/blog/home/post-1.jpg" alt="Post" width="225"
													height="280">
											</div>
										</div><!-- End .post-media -->
	
										<div class="post-body">
											<h2 class="post-title">
												<a th:text="${list.romTitle}"></a>
											</h2>
											<div class="post-content">
												<p th:text="${list.romNote}"></p>
											</div><!-- End .post-content -->
											<a  class="post-comment">참여인원 : </a>
											<a  class="post-comment" th:text="${list.romPersonnel}"></a>
										</div><!-- End .post-body -->
									</article><!-- End .post -->
								</div>
							</div>
						</div>
					</div><!-- End .col-lg-9 -->

					<div class="sidebar-toggle custom-sidebar-toggle">
						<i class="fas fa-sliders-h"></i>
					</div>
					<div class="sidebar-overlay"></div>
					<aside class="sidebar mobile-sidebar col-lg-3">
						<div class="sidebar-wrapper" data-sticky-sidebar-options='{"offsetTop": 72}'>
							<div class="widget widget-categories">
								<br><br><br>

								<!-- <article class="post">
									<div class="post-media">
										<a href="single.html">
											<img src="assets/images/blog/home/post-3.jpg" alt="Post" width="225"
												height="280">
										</a>
									</div>
								</article> -->
                                <div class="info-box info-box-icon-top">
                                    <a th:href="@{/chatcreate}">
                                    <div class="info-box-content">
                                        <h4>방만들기</h4>
                                        <br><i class="fas fa-plus-circle"></i>
                                    </div>
                                    </a>
                                    
                                </div>
							</div><!-- End .widget -->

							<div class="widget widget-post">
								<h4 class="widget-title">내 채팅방</h4>

								<ul class="simple-post-list">
									<li>
										<div class="post-media">
											<a href="single.html">
												<img src="assets/images/blog/widget/post-1.jpg" alt="Post">
											</a>
										</div><!-- End .post-media -->
										<div class="post-info">
											<a href="single.html">낚시 모임</a>
											<div class="post-meta">February 26, 2018</div>
											<!-- End .post-meta -->
										</div><!-- End .post-info -->
									</li>

									<li>
										<div class="post-media">
											<a href="single.html">
												<img src="assets/images/blog/widget/post-2.jpg" alt="Post">
											</a>
										</div><!-- End .post-media -->
										<div class="post-info">
											<a href="single.html">몰래 여행가기방</a>
											<div class="post-meta">February 26, 2018</div><!-- End .post-meta -->
										</div><!-- End .post-info -->
									</li>
                                    <li>
										<div class="post-media">
											<a href="single.html">
												<img src="assets/images/blog/widget/post-2.jpg" alt="Post">
											</a>
										</div><!-- End .post-media -->
										<div class="post-info">
											<a href="single.html">노하우 공유방</a>
											<div class="post-meta">February 26, 2018</div><!-- End .post-meta -->
										</div><!-- End .post-info -->
									</li>
								</ul>
							</div><!-- End .widget -->
						</div><!-- End .sidebar-wrapper -->
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		  Launch demo modal
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title fs-5" id="exampleModalLabel">참여하겠습니까?</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>

		<footer th:replace="~{infra/include/body :: footer}"></footer>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.min.js"></script>
	<script>
	const myModal = document.getElementById('myModal')
	const myInput = document.getElementById('myInput')

	myModal.addEventListener('shown.bs.modal', () => {
	  myInput.focus()
	})
	
	
	function chekRoom(element){
		 let romSeq = $(element).data("value");
		 let gochatting = "/chatting";
		 let gochattinginst = "/roomcheckinst";
		//alert(romSeq)
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/checkroom"
			,data : { "romSeq" : romSeq}
			,success: function(response) {
				if(response.rt == "success") {
					alert("가입된 채팅방");
					window.open(gochatting +"?romSeq=" + romSeq); 	
				} 
				else if(response.rt == "false")
				{
					alert("로그인을 하세요")	
					window.location.href = "/login"
				}
				else
				{
					alert("채팅방에 참여 하겠습니까?")
					window.open(gochattinginst +"?romSeq=" + romSeq);
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
    </script>
  </div>
</body>

</html>