<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{infra/include/head :: head}"></div>
    <style>
        .page-header {
            margin: 0;
            padding: 0;
        }

        .d-flex {
            margin: 0;
            padding: 0;
        }

        .full-width-image {
            width: 100%;
            height: 350px;
            display: block;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
	<div class="page-wrapper">
		<header class="header">
            <div class="header-middle sticky-header font2">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler pl-0" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <a href="/index" class="logo mr-5">
                            <img src="img/logo.png" alt="Logo" width="111" height="44">
                        </a>
                        <!--메인메뉴-->
                        <div th:replace="~{infra/include/body :: menu(0)}"></div>
                        
						<div class="align-items-center ml-5">
							<nav aria-label="breadcrumb" class="breadcrumb-nav">
								<div class="container">
									<ol class="breadcrumb">
										<li class="breadcrumb-item" style="color: blue;">
											<a href="/index"><i class="fas fa-fish">&nbsp;</i><b>Home</b></a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">My Account</li>
										<li class="breadcrumb-item active" aria-current="page">Register</li>
									</ol>
								</div>
							</nav>
						</div>
                    </div>
                    
					<!--우측메뉴-->
                    <div th:replace="~{infra/include/body :: menuRight}"></div>
                </div>
            </div>
        </header><!-- End .header -->

		<main class="main">
			<div class="page-header">
				<div class="d-flex flex-column">
					<img src="img/registerimage.jpg" alt="Full Width Image" class="full-width-image">
				</div>
			</div>	

			<div class="container login-container">
				<div class="row">
					<div class="col-lg-5 mx-auto">
						<div class="row">
							<div class="col">
								<div class="heading mb-1">
									<h2 class="title">Register</h2>
								</div>

								<form id="form" name="form">
									<div class="mb-3">
										<label for="mbrName">
											your name
											<span class="required">*</span>
										</label>
										<input type="text" class="form-input form-wide" id="mbrName" name="mbrName" />
										<span id="mbrNameValid" name="mbrNameValid" style="visibility: hidden;"></span>
									</div>
									
									<div class="mb-3">
										<label for="mbrEmail">
											email address
											<span class="required">*</span>
										</label>
										<input type="email" class="form-input form-wide" id="mbrEmail" name="mbrEmail" />
										<span id="mbrEmailValid" name="mbrEmailValid" style="visibility: hidden;"></span>
									</div>
									
									<div class="mb-3">
										<label for="mbrPw">
											Password
											<span class="required">*</span>
										</label>
										<input type="password" class="form-input form-wide" id="mbrPw" name="mbrPw" />
										<span id="mbrPwValid" name="mbrPwValid" style="visibility: hidden;"></span>
									</div>
									
									<div class="form-footer">
										<button type="button" class="btn btn-dark btn-md w-100 mr-0" onclick="fnControllerRegister();">
											Register
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main><!-- End .main -->
	
		<footer th:replace="~{infra/include/body :: footer}"></footer>
	</div><!-- End .page-wrapper -->

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
	
	<!--모달폼-->
	<div th:replace="~{infra/include/modal :: modalConfirm('확인','')}"></div>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.min.js"></script>
	
	<script>
		// validType : 1(한글), 2(영문), 3(숫자:정수), 4(숫자:실수), 5(숫자콤마)
		//             10(한글영문), 11(한글숫자), 12(영문숫자), 13(한글영문숫자)
		//			   20(비밀번호), 21(날짜), 22(이메일)
		//             30(특수문자), 31(공백체크)
		// TYPE_KR   =  1, TYPE_EN   = 2,  TYPE_IT   = 3,  TYPE_FT     = 4;  TYPE_ICM = 5;
		// TYPE_KREN = 10, TYPE_KRIT = 11, TYPE_ENIT = 12, TYPE_KRENIT = 13;
		// TYPE_PW   = 20, TYPE_DT   = 21, TYPE_EM   = 22;
		// TYPE_SP   = 30, TYPE_NULL = 31;
		let dispText = "영문,숫자,특수문자(!@#$%^*+=-)조합";
		let typeArr = [TYPE_KREN, TYPE_EM, TYPE_PW];
		let nameArr = ["mbrName", "mbrEmail", "mbrPw"];
		let textArr = ["", "", dispText];
				
		let form = document.querySelector("#form");
		
		// 회원등록
		function fnControllerRegister() {
			if(!fnValidation()) {return false;}
			
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"mbrName":$("#mbrName").val(), "mbrEmail":$("#mbrEmail").val(), "mbrPw":$("#mbrPw").val()}
				, url: "/memberInsert"
				, success: function(response) {
					if(response.rt == "success") {
						location.href = "/login";
					} else if(response.rt == "email") {
						fnModalShow("확인", "이메일이 존재합니다");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					fnModalShow("오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
	</script>
</body>

</html>