<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<!--리스트-->
	<div id="listData" class="order-table-container text-center w-full overflow-x-auto">
		<table class="table table-order text-left">
			<thead>
				<tr>
					<th class="text-center"     style="width: 5%;" >No.</th>
					<th class="text-left"       style="width: 70%;">제목</th>
					<th class="text-right"      style="width: 5%;" >글쓴이</th>
					<th class="text-right"      style="width: 5%;" >열람</th>
					<th class="text-right pr-0" style="width: 8%;" >작성일</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:if="${#lists.isEmpty(list)}">
					<td colspan="5" class="text-center p-0"> 
						There is no data !!!
					</td>
				</tr>
				<tr th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}">
					<!--공지사항-->
					<th:block th:if="${list.brdDefaultNy} == 0">
						<td class="text-center p-0" colspan="5">
							<p class="text-left p-0 mb-1 mt-1">
								<a href="#">
									<span class="tip tip-new">new</span>
									<i class="fas fa-bell" style="color: blueviolet;"></i>
									<b><span th:text="${list.brdTitle}" style="color: red;">공지사항</span></b>
									<i class="fas fa-bell" style="color: blueviolet;"></i>
								</a>
							</p>
						</td>
					</th:block>
					
					<!--일반글-->
					<th:block th:unless="${list.brdDefaultNy} == 0">
						<!--ROW순번-->
						<td class="text-center">
							<span th:text="${list.xrowNum}"></span>
						</td>
						<!--제목-->
						<td class="text-left">
							<a href="javascript:void(0)" th:onclick="javascript:fnGoDetail([[${list.brdSeq}]]);">
								<span class="tip tip-new">new</span>
								<span th:text="${list.brdTitle}"></span>
							</a>
						</td>
						<!--글쓴이-->
						<td class="text-right">
							<span th:text="${list.xmbrName}"></span>
						</td>
						<!--열람횟수-->
						<td class="text-right">
							<span th:text="${list.brdOpen}"></span>
						</td>
						<!--작성일자-->
						<td class="text-right pr-0">
							<span th:text="${#dates.format(list.brdDate, 'yyyy-MM-dd')}"></span>
						</td>
					</th:block>
				</tr>
			</tbody>
		</table>
		<hr class="mt-0 mb-3 pb-2" />
		
		<!-- 페이지번호 -->
		<div th:replace="~{infra/include/body :: bodyPagingBtn}"></div>
	</div>
						

</html>