<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{infra/include/head :: head}"></div>
	<style>
	    .product-image-container {
	        width: 100%;
	        max-width: 100%;
	        display: block;
	    }
	
	    .product-image {
	        display: block;
	        width: 100%;
	        height: auto;
	    }
	
	    .product-image img {
	        width: 100%;
	        height: auto;
	        display: block;
	    }
	</style>	
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
			<div class="header-middle sticky-header font2">
			    <div class="container-fluid">
			        <div class="header-left">
			            <button class="mobile-menu-toggler pl-0" type="button">
			                <i class="fas fa-bars"></i>
			            </button>
			            <a href="/index" class="logo mr-5">
			                <img src="img/logo.png" alt="Logo" width="111" height="44">
			            </a>
			            <!--메인메뉴-->
			            <div th:replace="~{infra/include/body :: menu(0)}"></div>
			        </div>
					<!--우측메뉴-->
			        <div th:replace="~{infra/include/body :: menuRight}"></div>
			        <br>
			    </div>
			</div>
			
			<!--예약일자-->
			<div th:replace="~{infra/include/head :: date}"></div>		
        </header><!-- End .header -->

        <main class="main">
            <section class="recommended-section mt-3">
                <div class="container">
                    <h2 class="section-title m-b-2 appear-animate" data-animation-name="fadeInUpShorter">최근 등록 겔러리</h2>
                    <h5 class="section-info p-b-4 mb-2 appear-animate" data-animation-name="fadeInUpShorter"
                        data-animation-delay="200">~~뽐내기~~</h5>
                                    
                    <div class="product-slider-tab">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                                <div class="products-slider owl-carousel owl-theme show-nav-hover nav-outer nav-image-center"
                                    data-owl-options="{'dots': false, 'nav': true, 'responsive': {'576': {'items': 2},'992': {'items': 3}}}">
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/img1.jpg" width="217" height="217" alt="gallay" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/img2.jpg" width="217" height="217" alt="gallay" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/img3.jpg" width="217" height="217" alt="gallay" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/img4.jpg" width="217" height="217" alt="gallay" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/img5.jpg" width="217" height="217" alt="gallay" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

			<!--추천 낚시터-->            			
            <section class="recommended-section mt-3">
                <div class="container">
                    <h2 class="section-title m-b-2 appear-animate" data-animation-name="fadeInUpShorter">추천 낚시터</h2>
                    <h5 class="section-info p-b-4 mb-2 appear-animate" data-animation-name="fadeInUpShorter"
                        data-animation-delay="200">~~자연과 함께~~</h5>

                    <ul class="nav nav-tabs justify-content-center pt-4 m-b-3">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#best-seller">경기도</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#what-new">인천</a>
                        </li>
                    </ul>
            
                    <div class="product-slider-tab">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="best-seller">
                                <div class="products-slider owl-carousel owl-theme show-nav-hover nav-outer nav-image-center"
                                    data-owl-options="{'dots': false, 'nav': true, 'responsive': {'576': {'items': 2},'992': {'items': 3}}}">
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole1.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole2.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole3.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole4.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="what-new">
                                <div class="products-slider owl-carousel owl-theme show-nav-hover nav-outer nav-image-center"
                                    data-owl-options="{'dots': false,'nav': true,'responsive': {'576': {'items': 2},'992': {'items': 3}}}">
                                    <div class="product-default">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole4.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole3.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole2.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="product-default inner-quickview inner-icon">
                                        <figure>
                                            <a href="javascript:void(0)">
                                                <img src="img/fishingHole1.jpg" width="217" height="217" alt="product" style="height: 250px;">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

	<!--모바일 메뉴-->
	<div th:replace="~{infra/include/body :: mobileMenu}"></div>
    
    <footer th:replace="~{infra/include/body :: footer}"></footer>

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/optional/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>

</body>

</html>