<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stayc.infra.chat.ChatDao">

	<resultMap id="resultMapObj" type="com.stayc.infra.chat.ChatDto"></resultMap>
	
	<!-- 채팅방리스트 -->
	 <select id="roomList" resultMap="resultMapObj">
		select 
			a.romSeq, 
		    a.romDate, 
		    a.romTitle, 
		    a.romPersonnel, 
		    a.romNote, 
		    a.mbrSeq,
		    a.romDelNy,
		    (
            select count(*) 
		    from roomcheckin aa
            where aa.romSeq = a.romSeq and a.romDelNy = 0
            ) as currentStaff
		from 
			room a
		where 1=1 and romDelNy = 0
	 </select>
	 
	 <select id="roomCount">
	 select COUNT(*) 
	 from room
	 where 1=1 and romDelNy = 0
	 </select>
	 
	 <!-- 참여한 채팅방  -->
	 <select id ="myroomList" resultMap="resultMapObj">
	 select 
		a.romSeq,
		a.romTitle
		from 
			room a
		join 
			roomcheckin b
		on 
			a.romSeq = b.romSeq and b.mbrSeq = #{mbrSeq} and romDelNy = 0
		ORDER BY a.romSeq DESC
	 </select>
	 
	 <!-- 채팅방 정보 -->
	 <select id="roomOne" resultMap="resultMapObj">
		select 
			romSeq, 
		    romDate, 
		    romTitle, 
		    romPersonnel, 
		    romNote, 
		    mbrSeq,
		    (
            select count(*) 
		    from roomcheckin aa
            where aa.romSeq = #{romSeq}
            ) as currentStaff,
            (
            select rckmanagerNY
            from roomcheckin bb
            where bb.romSeq = #{romSeq} and bb.mbrSeq = #{mbrSeq}
            ) as rckmanagerNY
		from 
			room
		where 1=1 and romSeq = #{romSeq}
	 </select>
	 
	 
	 <!-- 채팅방 참여한 사람 목록 -->
	 <select id="roomMember" resultMap="resultMapObj">
		select 
			a.rckSeq
			,a.rckDelNY
			,b.mbrName 
		from 
			roomcheckin a
		join 
			members b
		on 
			a.mbrSeq = b.mbrSeq  
		where 
			romSeq =  #{romSeq} and rckDelNY = 0;
	 </select>
	 
	 
	 <!-- 채팅방 참여 유효성 검사 -->
	 <select id="roomcheckinOne" resultMap="resultMapObj">
		select * 
		from 
			roomcheckin
		where 
			mbrSeq = #{mbrSeq} and romSeq = #{romSeq};
	 </select>
	
	
	<!-- 채팅방 참여 insert -->
	<insert id="roomcheckinst">
	insert into roomcheckin
	(
		rckDate,
		rckmanagerNY,
		rckDelNY,
		mbrSeq, 
		romSeq
	)
	values
	(
		NOW(),
		0,
		0,
		#{mbrSeq},
		#{romSeq}
	)
	</insert>
	
	
	<!-- 채팅방 만들기 -->
	<insert id="chatroominst">
	<selectKey resultType ="Integer" keyProperty="romSeq" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
	insert into room
	(
		romDate,
		romTitle,
		romPersonnel,
		romNote,  
		mbrSeq
	)
	values
	(
		NOW()
		,#{romTitle}
		,#{romPersonnel}
		,#{romNote}
		,#{mbrSeq}
	)
	</insert>
	
	<!-- 방 개설자 채팅참여목록 insert -->
	<insert id="chatroommanager">
	insert into roomcheckin
	(
		rckDate,
		rckmanagerNY,
		rckDelNY,
		mbrSeq, 
		romSeq
	)
	values
	(
		NOW(),
		1,
		0,
		#{mbrSeq},
		#{romSeq}
	)
	</insert>
	
	
	<!-- 채팅방 정보 변경 -->
	<update id = "chatupdates">
	<selectKey resultType ="Integer" keyProperty="romSeq" order="AFTER">
		 SELECT romSeq FROM room WHERE romSeq = #{romSeq}
	</selectKey>
	update room
	set
	
		romTitle = #{romTitle},
		romPersonnel = #{romPersonnel},
		romNote = #{romNote}
	
	WHERE romSeq = #{romSeq}
	</update>
	
	<update id="memberdelete">
	update roomcheckin
	set
		rckDelNY = 1
	where romSeq = #{romSeq} and mbrSeq = #{mbrSeq}
	</update>
	
	<!-- 채팅방 삭제 -->
	<update id="roomdelete">
		update room
		set
		romDelNY = 1
		where romSeq = #{romSeq}
	</update>
	
	<!-- 채팅방 인원 삭제 -->
	<update id ="roommemberdelete">
		update roomcheckin
		set
		rckDelNY = 1
		where romSeq = #{romSeq}
	</update>
	
</mapper>