<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stayc.infra.chat.ChatDao">

	<resultMap id="resultMapObj" type="com.stayc.infra.chat.ChatDto"></resultMap>
	
	
	 <select id="roomList" resultMap="resultMapObj">
		select 
			romSeq, 
		    romDate, 
		    romTitle, 
		    romPersonnel, 
		    romNote, 
		    mbrSeq
		from 
			room
		where 1=1
	 </select>
	 
	 <select id="roomOne" resultMap="resultMapObj">
		select 
			romSeq, 
		    romDate, 
		    romTitle, 
		    romPersonnel, 
		    romNote, 
		    mbrSeq
		from 
			room
		where 1=1 and romSeq = #{romSeq}
	 </select>
	 
	 <select id="roomMember" resultMap="resultMapObj">
		select 
			rckSeq
			,mbrName 
		from 
			roomcheckin a
		join 
			members b
		on 
			a.mbrSeq = b.mbrSeq  
		where 
			romSeq =  #{romSeq};
	 </select>
	 
	 <select id="roomcheckinOne" resultMap="resultMapObj">
		select * 
		from 
			roomcheckin
		where 
			mbrSeq = #{mbrSeq} and romSeq = #{romSeq};
	 </select>
	
	<insert id="roomcheckinst">
	insert into roomcheckin
	(
		rckDate,
		mbrSeq, 
		romSeq
	)
	values
	(
		NOW(),
		#{mbrSeq},
		#{romSeq}
	)
	</insert>
	
	<insert id="chatroominst">
	<selectKey resultType ="Integer" keyProperty="romSeq" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
	insert into room
	(
		romDate,
		romTitle,
		romPersonnel,
		romNote,  
		mbrSeq
	)
	values
	(
		NOW()
		,#{romTitle}
		,#{romPersonnel}
		,#{romNote}
		,#{mbrSeq}
	)
	</insert>
	
	<update id = "chatupdates">
	<selectKey resultType ="Integer" keyProperty="romSeq" order="AFTER">
		 SELECT romSeq FROM room WHERE romSeq = #{romSeq}
	</selectKey>
	update room
	set
	
		romTitle = #{romTitle},
		romPersonnel = #{romPersonnel},
		romNote = #{romNote}
	
	WHERE romSeq = #{romSeq}
	</update>
	
</mapper>