<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stayc.infra.reservation.reservationDao">

	<resultMap id="resultMapObj" type="com.stayc.infra.reservation.reservationDto"></resultMap>
	<!-- 예약장소 리스트 -->
	<select id="selectList">
	 	select 
		 	plcSeq
		 	,plcTypeCd
		 	,plcName
		 	,plcAreaCd
		 	,plcPersonnel
		 	,plcAmount
		 	,plcOperatingFrom
		 	,plcOperatingTo
		 	,plcNote
		from place
		where 1=1
	</select>
	<!-- 예약상세 -->
	<select id="selectOne">
		select
			plcSeq
		 	,plcTypeCd
		 	,plcName
		 	,plcAreaCd
		 	,plcPersonnel
		 	,plcAmount
		 	,plcOperatingFrom
		 	,plcOperatingTo
		 	,plcNote
		from place
		where 1=1
			AND plcSeq = #{plcSeq}
	</select>
	<!-- 결제완료 insert -->
	<insert id="insert">
    	INSERT INTO reservation (
    		revDate
    		,revPlaceCd
    		,revSeat
    		,revDelNy
    		,revRegDt
    		,revModDt
    		,mbrSeq
    	)VALUES(
    		#{revDate}
    		,#{revPlaceCd}
    		,#{revSeat}
    		,0
    		,now()
    		,now()
    		,#{mbrSeq}
    	)
    </insert>
	 
</mapper>